[submodule "lib/Color_console_output"]
	path = lib/Color_console_output
	url = git@github.com:dmitry131131/Color_console_output.git
[submodule "lib/Simple_list"]
	path = lib/Simple_list
	url = git@github.com:dmitry131131/Simple_list.git
[submodule "lib/Data_buffer"]
	path = lib/Data_buffer
	url = https://github.com/dmitry131131/Data_buffer.git
[submodule "lib/Onegin_task"]
	path = lib/Onegin_task
	url = git@github.com:dmitry131131/Onegin_task.git
